<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" charset="UTF-8" lang="en">
<head>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <title>Registration</title>
</head>
<body>

<table align="center">
    <tr>
        <td width="100%">
            <table width="800">
                <tr>
                    <td align="center" width="800">
                        <table width="100%">
                            <tr>
                                <td align="center" cellpadding="4"
                                    style="font-size: 26px; color: #001D4A; font-family: sans-serif;">
                                    <b>
                                        Successful registration
                                    </b>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <tr>
                    <td align="center" width="800">
                        <table cellspacing="16"
                               style="font-size: 16px; line-height: 150%; color: #001D4A; font-family: sans-serif;"
                               width="100%;">
                            <tr>
                                <td>Hello <span th:text="${name}">Anonymous</span>,</td>
                            </tr>

                            <tr>
                                <td>
                                    You are <span th:text="${age}">18</span> years old.
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

</body>
</html>